.shadow{
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 6, 0, 0, 0);
}

.white-bg{
	-fx-background-color:#fff;
	-fx-background-radius:8px;
}

.chart-series-line{
	-fx-stroke-width: 2px;
}
.default-color0.chart-series-line{-fx-stroke: #0598ff}
.default-color0.chart-line-symbol{-fx-background-color: #0598ff, #ffffff}

.default-color0.chart-pie { -fx-pie-color: #0598ff; }
.default-color1.chart-pie { -fx-pie-color: #0475c4; }
.default-color2.chart-pie { -fx-pie-color: #03558f; }
.default-color3.chart-pie { -fx-pie-color: #023a61; }
.default-color4.chart-pie { -fx-pie-color: #01233b; }